// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// import google fonts
@import url(https://fonts.googleapis.com/css?family=Ubuntu:700italic,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300,300italic);

@font-face {
    font-family: 'Gotham-Light';
    src: url('Gotham-Light.otf') format('truetype');
}
@font-face {
    font-family: 'Gotham-Medium';
    src: url('Gotham-Medium.otf') format('truetype');
}
@font-face {
    font-family: 'Gotham-MediumItalic';
    src: url('Gotham-MediumItalic.otf') format('truetype');
}
@font-face {
    font-family: 'Gotham-Thin';
    src: url('Gotham-Thin.otf') format('truetype');
}
@font-face {
    font-family: 'Gotham-ThinItalic';
    src: url('Gotham-ThinItalic.otf') format('truetype');
}

// color variables

$teal: #5ED4C4;
$light-black: #444;
$off-white: #FDFDFD;

body {
  font-family: 'Gotham-Light','Lato', Arial, sans-serif;;
  font-weight: 200;
  overflow-x: hidden;
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}
// override for the 'Home' navigation link

// logo styles first
.navbar-brand {
  font-size: inherit;
}

.logo-btcmiami {
  font-family: 'Ubuntu';
  font-weight: 700;
  font-style: italic;
}

// nav colors

.navbar-teal {
  background-color: $teal;
  color: #666;
  a {
    color: #444;
  }
}

a > b {
  color: #fff;
  font-size: 2em;
}

.nav > li > a {
  color: #fff;
  font-size: .9em;
}

.nav > li > a:hover {
  background-color: transparent;
}

.nav > li > a:active {
  background-color: transparent;
}

.dropdown > li > a:hover {
  background-color: transparent;
}

.dropdown > li > a:active {
  background-color: transparent;
}

.navbar-toggle > span {
  color: #fff;
}

// mobile nav button pseudo styles

.navbar-toggle:active {
  background-color: rgba(243, 156, 18,.9);
}

.navbar-toggle:hover {
  background-color: rgba(243, 156, 18,.9);
}

// bitcoin-price styles

.bitcoin-price:active {
  background-color: transparent !important;
}

.bitcoin-price:visited {
  background-color: transparent !important;
}

.bitcoin-price:hover {
  background-color: transparent !important;
}


#bitcoinPrice {
  background-color: #fff !important;
  padding-left: 35px !important;
  padding-right: 35px !important;
  position: absolute !important;
  right: 0 !important;
  top: 0;
  bottom: 0 !important;
}

// navbar overrides

.navbar {
  border-bottom: 0;
  min-height: 70px;
  margin-bottom: 0px;
}

.navbar-right {
  margin-right: 100px;
}

// landing page styles

#landing-box {
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 50%;
  border-radius: 0;
  position: static;
  margin-right: -5px;
  margin-top: -20px;
  height: 91.7vh;
}

.landing-page {
  background-image: url(bitcoindotmiami_landing.jpg);
  background-position: center;
  background-size: cover;
}

// button styles

.btn-ghost {
  background-color: transparent;
  border: 1px solid #444;
  color: #444;
}

.btn-ghost:active {
  background-color: rgba(0,0,0,.1);
}


.btn-ghost:hover {
  background-color: rgba(0,0,0,.1);
}


// map section overrides

.map-row { margin-left: 0; margin-right: 0; }
.map { margin-left: 0; margin-right: 0;}
.clear-padding {padding-left: 0; padding-right: 0;}

// events sections overrides

.img-portfolio {
    margin-bottom: 0 !important;
}

p.event-head {
  position: absolute;
  top: 65px;
  text-align: center;
  color: #fff;
  padding-left:5px;
  padding-right:5px;
}

p.event-body {
  position: absolute;
  top: 100px;
  text-align: center;
  color: #fff;
}

// news section

.news-section {
  background-image: url(news-section-bg.png);
  background-repeat: repeat;
  background-size: 6em;
  margin-top: 0;
  padding-top: 50px;
  padding-bottom: 40px;
}

.news-panel {
  border-radius: 0;
  border: none;
  -webkit-box-shadow: 0px 1px 16px 0px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 1px 16px 0px rgba(0,0,0,0.23);
  box-shadow: 0px 1px 16px 0px rgba(0,0,0,0.23);
  position: relative;
  top: 7px;
  background-color: $off-white;
}

.article-padding {
  padding: 35px;
}

// resources section

.resources {
  background-color: $teal;
  color:#fff;
}

.resource-header {
  padding-top: 55px;
  padding-bottom: 55px;
}

.resource-list {
  position: relative;
  text-align: center;
  padding-bottom: 40px;
}

.resource-item {
  padding: 10px;
}

.no-list {
  list-style: none;
}

// call to action mailer

.mailer-footer {
  background:
  /* top, transparent teal, faked with gradient */
  linear-gradient(
   rgba(204,234,222,0.76),
   rgba(204,234,222,0.76)
  ),
  /* bottom, image */
  url(mailer-footer.png);
  height: 170px;
  color: $light-black;
  padding-top: 40px;
  padding-bottom: 40px;
}

// other overrides

.text-left {
  position: relative;
  bottom: 20px;
}

.top-clear {
  margin-top: 0px;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
}
.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
}
section {
  @extend .row;

}

small {
  font-size: 70%;
}

.row, section {
  margin-left: 0px;
  margin-right: 0px;
}

.container, main {
  padding-left: 0;
  padding-right: 0;
}

.container > .navbar-collapse {
  margin-left: 0px;
  margin-right: 0px;
}

// media queries

@media screen and (max-width: 767px) {
  .navbar-brand {
      margin-left:40%;
  }
  #bitcoinPrice {
    top: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #landing-box {
    max-width: 100vw;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -100px;
    height: 107vh;
  }
  .navbar-fixed-top {
      position: relative;
      top: auto;
  }
  .navbar-collapse {
      max-height: none;
  }
  body {
      margin: 0;
      padding-top: 0px !important;
  }
}

@media screen and (max-width: 468px) {
  .navbar-brand {
      margin-left:20%;
  }
}
