@import "compass/css3";

// color variables

$teal: #5ED4C4;
$light-black: #444;
$off-white: #FDFDFD;

// in the view set the "data-text" html selector to the name of the button to be displayed on hover

.button,
[class*="button-"]{
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0 1em 1em 0;
  padding: 0 4em;
  height: 3.5em;
  font: 300 1em/3.5em 'Gotham-Light', sans-serif;
  text:{
    decoration: none;
    // shadow: 0 1px 3px rgba(black, .35);
  }
  letter-spacing: .08em;
  color: $light-black;
  background: transparent;
  border: solid 1px $light-black;
  border-radius: 4px;
  @include transition(.35s ease all);

  &:hover{
    background: $light-black;
    // box-shadow: 0px 1px 8px rgba(black, .5);
    color: $off-white
  }
}

.button-hover{

  &:hover{ line-height: 9em; }

  &:before{
    content: attr(data-text);
    color: $off-white;
    position: absolute;
    top: -2.75em;
  }
}

// ghost button hover

.button,
[class*="ghost-"]{
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0 1em 1em 0;
  padding: 0 4em;
  height: 3.5em;
  font: 300 1em/3.5em 'Gotham-Light', sans-serif;
  text:{
    decoration: none;
    shadow: 0 1px 3px rgba(black, .35);
  }
  letter-spacing: .08em;
  color: $off-white;
  background: transparent;
  border: solid 1px $off-white;
  border-radius: 4px;
  @include transition(.35s ease all);

  &:hover{
    background: transparent;
  }
}

.ghost-hover{

  &:hover{ line-height: 9em; }

  &:before{
    content: attr(data-text);
    color: $off-white;
    position: absolute;
    top: -2.75em;
  }
}
