<!-- Footer -->
  <footer class="well text-center top-clear" style="margin-bottom:0px !important; border: none !important;border-radius:0px !important;">
      <div class="row">
          <div class="col-lg-12">
              <%= image_tag 'bitstop.png', style: 'width:200px;padding-bottom:10px;' %>
              <ul style="list-style:none; display:inline-flex;">
                <li style="padding-left:5px;padding-right:5px;">
                  <a href="#">Home</a>
                </li>
                <li style="padding-left:5px;padding-right:5px;">
                  <a href="#">FAQ</a>
                </li>
                <li style="padding-left:5px;padding-right:5px;">
                  <a href="#">Blog</a>
                </li>
                <li style="padding-left:5px;padding-right:5px;">
                  <a href="#">Login</a>
                </li>
                <li style="padding-left:5px;padding-right:5px;">
                  <a href="#">Sign Up</a>
                </li>
              </ul>
              <p style="padding-top:5px;"><small>Copyright &copy; Blockchain Beach 2016 | Designed with <i class="fa fa-heart"></i> by Mochi Projects</small></p>
          </div>
      </div>
  </footer>
