<!-- Footer -->
  <footer class="text-center top-clear" style="margin-bottom:0px !important; border: none !important;border-radius:0px !important;background:#ececec;padding-top:20px;padding-bottom:20px;">
      <div class="row">
          <div class="col-lg-12">
              <%= image_tag 'bitstop.png', style: 'width:200px;padding-bottom:10px;' %>
              <ul style="list-style:none; display:inline-flex;-webkit-padding-start:0px;-webkit-margin-before: 0em;-webkit-margin-after: 0em;color:#5ED4C4 !important;">
                <li style="padding-left:5px;padding-right:5px;">
                  <a href="#" style="color:#444 !important">Home</a>
                </li>
                <li>
                  <p>
                    |
                  </p>
                </li>
                <li style="padding-left:5px;padding-right:5px;">
                  <a href="#" style="color:#444 !important">FAQ</a>
                </li>
                <li>
                  <p>
                    |
                  </p>
                </li>
                <li style="padding-left:5px;padding-right:5px;">
                  <a href="#" style="color:#444 !important">Blog</a>
                </li>
              </ul>
              <p style="padding-top:5px;"><small>Copyright &copy; Blockchain Beach 2016 | Designed by <a href="http://mochiprojects.com" class="footer-link">Mochi Projects</a> | Developed by <a href="http://josh.miami" class="footer-link">JE Projects</a></small></p>
          </div>
      </div>
  </footer>
