<%# add navigation links to this file %>
<li>
  <%= link_to 'Home', root_path %>
</li>
<li>
  <%= link_to 'Bitcoin FAQ', page_path('faq') %>
</li>
<li>
  <%= link_to 'Blog', page_path('blog-home-1') %>
</li>
<li id="bitcoinPrice" style="background-color:#fff !important; padding-left:15px;padding-right:15px;">
  <!-- Bitcoin Price Displayed here -->
  <a href="#" class="bitcoin-price" style="color:#444 !important;">USD</a>
</li>
